@use "base/mixins" as m;
@use "base/variables" as v;

.dinero {
  background-color: v.$primario;

  .dinero-grid {
    @include m.tablet {
      @include m.grid(5, 4rem);
      align-items: center;
    }
  }
  
    .contenido-dinero {
      grid-column: 1 / 4;
    }

    .imagen-dinero {
      grid-column: 4 / 6;
      transition: transform 0.3s ease;
      &:hover {
        transform: rotate(10deg) scale(1.1);
      }
    }
  

  .dinero-titulo {
    @include m.titulos(v.$secundario, v.$blanco);
}
}